@font-face {
    font-family: 'ArialMT';
    src: local('Arial-Regular'),
        url(../fonts/ArialMT.woff2) format('woff2'),
        url(../fonts/ArialMT.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('GeorgiaRegular'),
        url(../fonts/Georgia.woff2) format('woff2'),
        url(../fonts/Georgia.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('GeorgiaItalic'),
        url(../fonts/GeorgiaItalic.woff2) format('woff2'),
        url(../fonts/GeorgiaItalic.woff) format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('GeorgiaBold'),
        url(../fonts/GeorgiaBold.woff2) format('woff2'),
        url(../fonts/GeorgiaBold.woff) format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

:root {
    --color-primari: #F1CDB3;
    --color-primari-light: #FDDCC4;
    --color-light: #FFFFFF;
    --color-light-s: #fafafa;
    --color-dark: #CDCDCD;
    --color-darks: #292929;
    --color-dark-i: #545454;
    --color-dark-xl: #4c4c4c;
    --color-light-i: #f6f6f6;
    --color-dark-m: #b2b2b2;
}

body {
    background-color: #E5E5E5;
    min-width: 320px;
    font-family: 'Georgia + ArialMT', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bth-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.container__header {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.container__stile {
    padding-top: 30px;
    background: url(noise_lines_transparent@2X), radial-gradient(234.05% 111.80% at 0% 0%, rgb(91, 72, 58), rgb(38, 36, 37) 100%), rgb(33, 31, 32)
}

.header__links {
    display: flex;
    flex-direction: column;
    border: 1px dashed var(--color-light);
}

.header__logo {
    margin-right: auto;
}

.text__link {

    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 10px;
    color: var(--color-primari);
}

.text__links {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1px;
    color: var(--color-light);
}

.header__item {
    display: flex;
    flex-wrap: wrap;
}

.link__heads {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: var(--color-dark);
    transition: color .3s ease-in-out;
}

.link__heads:hover {
    color: var(--color-light);
    transition: color .3s ease-in-out;
}

.link__heads:active {
    border-bottom: 3px solid var(--color-primari);
}

.header__item:not(:last-child) {
    margin-right: 35px;
}

.main__block {
    display: flex;
    border: 1px dashed var(--color-light);
    border-bottom: none;
}

.main__wrapp {
    padding-top: 160px;
    display: flex;
    max-width: 502px;
    margin-right: 40px;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    width: 305px;

    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-light);
}

.text {
    width: 430px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
    color: var(--color-dark);
}

.btn-main {
    padding: 15px 45px;

    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    border-radius: 100px;
    color: var(--color-darks);
    background-color: var(--color-primari);
}

.img__main {
    border-left: 1px dashed var(--color-light);
}

.container__shelter {
    background-color: var(--color-light)
}

.container__shelters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 130px 100px 130px;
}

.title__shelter {
    max-width: 360px;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-dark-i);
}

.text__shelter {
    max-width: 430px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    color: var(--color-dark-xl);
}

.text__shelter:not(:last-child) {
    margin-bottom: 25px;
}

.container__looking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--color-light-i);
}

.title__looking {
    text-align: center;
    max-width: 310px;

    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: var(--color-dark-i);
}

.container__lookings {
    display: flex;
    align-items: center;
}

.looking__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 60px;
}

.looking__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: var(--color-light-s);
}

.looking__item:not(:last-child) {
    margin-right: 60px;
}

.title__name {

    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: var(--color-dark-i);
}

.img__lookings {
    margin-bottom: 30px;
}

.btn__looking {
    padding: 15px 45px;

    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-darks);
    border-radius: 100px;
    border: 3px solid var(--color-primari);
}

.btn-rest__lookings {
    padding: 10px 45px;

    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    border-radius: 100px;
    letter-spacing: 1px;
    color: var(--color-darks);
    background-color: var(--color-primari);
}

.btn-track {
    padding: 20px 20px;
    border: 2px solid var(--color-primari);
    border-radius: 100px;
}

.container__help {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--color-light);
}

.title__help {
    max-width: 310px;

    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 60px;
    color: var(--color-dark-i);
}

.help__list {
    display: flex;
    gap: 55px 120px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* display: grid;
    align-items: center;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr); */
    /* grid-gap: 80px 75px; */
}

.help__text {

    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1px;
    color: var(--color-dark-i);
}

.help__svg {
    margin-bottom: 30px;
    border: 1px dashed var(--color-dark-m);
}

.container__dotation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--color-light-i);
}

.donation__wrapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.donation__img {
    margin-right: 30px;
}

.donation__title {
    max-width: 260px;

    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--color-dark-i);
}

.credit__donation {
    margin-right: 5px;
}

.donation__span {

    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--color-dark-i);
}

.donation__btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1px;
    border-radius: 9px;
    margin-bottom: 10px;
    color: var(--color-dark-i);
    background-color: var(--color-primari);
}

.donation__text {
    max-width: 380px;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: var(--color-dark-m);
}

.container__footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    background: url(noise_lines_transparent@2X), radial-gradient(234.05% 111.80% at 0% 0%, rgb(91, 72, 58), rgb(38, 36, 37) 100%), rgb(33, 31, 32);
}

.footer__list {
    display: flex;
    align-items: center;
    margin-right: 125px;
}

.footer__title {
    max-width: 244px;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: var(--color-light);
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item:not(:last-child) {
    margin-right: 160px;
}

.footer__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1px;
    color: var(--color-primari);
}

.footer__svg {
    margin-right: 20px;
}

.footer__link:not(:last-child) {
    margin-bottom: 40px;
}